data:
  root: data/people_snapshot_public
  image_glob: "**/*.jpg"
  fov_degrees: 55.0
  proc_side: 256
  template_path: models/avatar_template.ply

train:
  batch_size: 2
  num_workers: 2
  epochs: 1

avatar:
  template:
    mode: default       # options: default | test
    regenerate: false   # set true to force re-generate and overwrite
    path: models/avatar_template.ply
    cano_mesh_path: models/smplx/smplx_uv.obj
    k_num_gaussians: 4
