sys:
  device: cuda # 'cpu', 'cuda', 'cuda:0', etc.
  debug: False

data:
  raw: data
  root: processed
  num_views: 4
  template_path: models/avatar_template.ply

nlf:
  checkpoint_path: models/nlf_checkpoint/nlf_l_multi.torchscript
  use_half: true
  latent_dim: 512

identity_encoder:
  latent_dim: 64

avatar:
  template:
    mode: default       # options: default | generate | test
    path: models/avatar_template.ply
    cano_mesh_path: models/smplx/smplx_uv.obj
    anim_mesh_path: tmp/output_smplx_mesh.ply
    k_num_gaussians: 4
    barycentric_coords:
      - [0.6, 0.2, 0.2]
      - [0.2, 0.6, 0.2]
      - [0.2, 0.2, 0.6]
      - [0.3333333333, 0.3333333333, 0.3333333333]


decoder:
  in_dim: 515  # local feature dim + 3D coord dim
  hidden: 256
  out_dim: 11

train:
  accelerator: cuda
  batch_size: 4
  num_workers: 2
  epochs: 10
  # Optional: fraction of data for validation split (0.0 disables val)
  val_ratio: 0.0
