sys:
  device: cpu

data:
  # TODO[run-pipeline]: Point to a real dataset root with RGB images.
  root: data/people_snapshot_public
  image_glob: "**/*.jpg"
  fov_degrees: 55.0
  proc_side: 256
  template_path: models/avatar_template.ply

nlf:
  checkpoint_path: models/nlf_checkpoint/nlf_l_multi.torchscript
  use_half: true

identity_encoder:
  latent_dim: 128

avatar:
  template:
    mode: default       # options: default | generate | test
    path: models/avatar_template.ply
    cano_mesh_path: models/smplx/smplx_uv.obj
    anim_mesh_path: tmp/output_smplx_mesh.ply
    k_num_gaussians: 4
    barycentric_coords:
      - [0.6, 0.2, 0.2]
      - [0.2, 0.6, 0.2]
      - [0.2, 0.2, 0.6]
      - [0.3333333333, 0.3333333333, 0.3333333333]

train:
  batch_size: 2
  num_workers: 2
  epochs: 1